body { font-family: Arial, Helvetica, sans-serif;
       background-image: url(pozadina2.png);
       background-repeat: repeat;
       font-size: 1em;
}
em { font-weight: bold;
     color:orangered;}
h3 {color: darkred}
h4 {color:brown}

nav  { text-align: center;}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:peachpuff;
    height:50px;
  }
nav ul li {
    margin-top: 15px;
    display:inline-block;
  }
nav ul li a {
    float: center;
    color:darkslategray;
    display: inline;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 16px;
    text-align: center;
  }
  .active{
      background-color: lightgreen;
  }
  li a:hover:not(.active) {
    background-color:sandybrown;
  }
  
.center {
    text-align: center;
    font-weight: bold;
  }
  .centerPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .header{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size:xx-large;
      color:darkslategray;
      top:5px;
      text-align: center;
      text-shadow: 5px 5px 10px dimgray;
  }
  header p{
      background-color: peachpuff;
  }
  footer p{
      background-color: peachpuff;
  }

 div {
    padding-top: 17px;
}
#box1 {
   text-align: center;
   width:400px;
   height:100px;
   background-color: papayawhip;
   float:left;
   box-shadow: 10px 10px 20px dimgray;

}
 #box2 {
     text-align: center;
     width:600px;
     height:200px;
     background-color: pink;
     float:left;
     text-align: left;
     box-shadow: 10px 10px 20px dimgray;
 }
 #box3 {
     text-align: center;
     margin-left: 100px;
     width: 700px;
     height: 410px;
     background-color: peachpuff;
     text-align: center;
     float: left;
     border-radius: 5px;
     box-shadow: 10px 10px 20px dimgray;
 }
 #box4 {
     text-align:left;
     width: auto;
     height: auto;
     float:left;
     margin-left: 90px;
     margin-right: 50px;
     font-size: 1em;
     font-weight: bold;
 }
 #box5 {
     float:right;
 }
 #box6{
     float:left;
 }
 #box7{
    margin-left: 0px;
    background-color:cornflowerblue;
 }
 #box8{
    background-color:coral;
    margin-left: 0px;
 }
 #box9{
    margin-left: 0px;
    margin-right: 0px;
    background-color:gold;
 }
 #box10 {
    background-color: mediumpurple;
    margin-left: 0px;
 }
 #box11{
     margin-left:55px;
 }
 #box12 {
    background-color:royalblue;
    margin-left: 0px;
 }
 #box13 {
    background-color: salmon;
    margin-left: 0px;
 }
 .contactPic {
     margin-left: 100px;
     border: 3px solid peachpuff;
     border-radius: 7px;
     padding: 7px;
 }
.rightPic1{
    margin-left: 50px;
    margin-right: 20px;
    border: 2px solid yellowgreen;
    border-radius: 4px ;
    padding: 5px;
}
.rightPic2{
    margin-left:70px;
    margin-right:10px;
    border: 2px solid peru;
    border-radius: 4px;
    padding: 5px;
}
.rightPic3{
    margin-left: 90px;
    margin-right: 5px;
    border: 2px solid navy;
    border-radius:4px;
    padding: 5px;
}

.homePic {
    margin-left:200px;
    border: 2px solid tan;
    border-radius: 5px;
    padding: 7px;
}
.contactPic1 {
    margin-left: 0px;
    margin-top: 40px;
}
.contactPic2 {
    margin-left: 30px;
    margin-top: 40px;
}
.contactPic3 {
    margin-left: 30px;
    margin-top: 40px;
}
article {
margin-left:70px;
margin-right: 50px;
width:610px;
height:auto;
text-align: center;
border: 2px solid lavender;
padding: 4px;
}
article h2{
    color:white;
    
}
.articleLeft {
    float:left;
}
.articleMargin {
    margin-left: 40px;
    float:left;
}
.articleMargin2 {
    margin-left: 18px;
    float:left;
}
.articleMargin3{
    margin-right:50px;
    float:center;
}
article input[type=submit]{
float: center;
font-size: 14px;
font-weight: bold;
color:white;
}


.botton1{
    background-color:cornflowerblue;
    color:white;
}

.botton2 {
    background-color: coral;
    color:white;
}
.botton3{
    background-color: gold;
    color:white;
}

.botton4{
    background-color: mediumpurple;
    color:white;
    }
.botton5{
    background-color: royalblue;
    color: white;
    }
.botton6{
    background-color: salmon;
    }
.botton7{
    background-color: peachpuff;
    }
.galerijaImg1 {
    margin-left: 55px;
    margin-bottom: 0px;
    border: 3px solid peachpuff;
    transition: transform .2s;
    border-radius: 4px;
    
}
.galerijaImg1:hover {
    transform: scale(1.5); 
}
.position{
    margin-top:0px;
    margin-left:55px;
    bottom:0px;
    padding-top: 0px;
    
}
.formMargin {
    margin-left:55px;
    margin-top:0px;
    float:left;
}
.blog {
     margin-left: 70px;
}
input[type=button]{
    border: 2px solid burlywood;
    background-color: bisque;
    border-style: groove;
    padding: 3px;
}
#start {
    display: none;
}
#start1 {
    display: none;
}
#start2 {
    display: none;
} 
#start3{
    display: none;
}
#start4{
    display: none;
}
#start5{
    display: none;
}
.view {
    font-size: 15px;
    color:white;
}

.firstButtonLike{
    border:none;
    background-color: white;
    margin-left: 55px;

}

.buttonLike{
    border:none;
    background-color: white;
    margin-left: 310px;
}
.buttonLike2{
    border:none;
    background-color: white;
    margin-left: 315px;
}
.firstButtonLike13{
    border:none;
    background-color: white;
    margin-left: 0px;
}
.data{
    float:left;
    margin-left: 10px;
    margin-top: 0px;
}